##################################

/debug/unequal_ltr_par_img/*
/debug/unequal_ltr_par_img_extend/*
/debug/
*.png
*.txt
*.html
*.fasta
*.aligned
*.tree
*.log
*.maf
*.mafindex
*.fa
*.svg
*.jpeg
*.maf
*.maf.gz
*.e_table*