##################################


/debug/unequal_ltr_par_img/*
/debug/unequal_ltr_par_img_extend/*

/pipeline/bak/*
/pipeline/THE1C/*
*.png
*.txt
*.html
*.fasta
*.aligned
*.tree
*.log
*.maf
*.mafindex
*.fa
*.svg
*.jpeg
*.maf
*.maf.gz
*.e_table*
!/test/chr1_region_cut.mafindex
!/test/hg38.mwe.fasta
!/test/repeatmasker.mwe.txt
!/test/species447_info.txt
!/test/output/THE1C-int.e_table.txt
!/test/output/THE1C-int.internal_id.txt
!/test/output/THE1C-int.teatime.txt
!/test/output/THE1C.e_table.txt
!/test/output/THE1C.internal_id.txt
!/test/output/THE1C.teatime.txt
!/test/output/THE1C.ltr_fix.txt