Bio==1.7.1
biopython==1.84
biopython.egg==info
compress_pickle==2.1.0
ma_mapper==0.1
matplotlib==3.9.2
numpy==2.1.3
pandas==2.2.3
plotly==5.24.1
scipy==1.14.1
seaborn==0.13.2
statsmodels==0.14.4
tqdm==4.67.0
